# general
.DS_Store
.envrc
.vscode/
.Rhistory

# 環境変数
.env

# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# ui test tool
.nuxt-storybook
storybook-static
/.idea/**
