{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-list-comma-newline-after": "always-multi-line",
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "scss/selector-no-redundant-nesting-selector": true
  },
  "ignoreFiles": [
    "assets/resetcss/reset.css"
  ]
}

