{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-list-comma-newline-after": "always-multi-line",
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "scss/selector-no-redundant-nesting-selector": true,
    "unit-disallowed-list": [
      [
        "px",
        "em",
        "deg",
        "cm",
        "mm",
        "Q",
        "in",
        "pc",
        "pt"
      ],
      {
        "ignoreProperties": {
          "px": [
            "/^border/",
            "word-spacing"
          ]
        },
        "ignoreMediaFeatureNames": {
          "px": [
            "min-width",
            "/height$/"
          ]
        }
      }
    ]
  },
  "ignoreFiles": [
    "assets/resetcss/reset.css"
  ]
}
