
.aboutus-table {
  margin-bottom: 2rem;
  &-container {
    width: 50rem;
    margin: 3.125rem auto;
    font-size: 1rem;
    letter-spacing: 0.125rem;
    margin-top: 1.875rem;

    @include sp {
      width: 21.875rem;
      font-size: 0.875rem;
      letter-spacing: 0;
    }
  }

  &-title {
    color: $blue;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.125rem;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;

    @include sp {
      font-size: 1.25rem;
      margin-top: 1.25rem;
      margin-bottom: 1rem;
    }
  }
}
