
.aboutus-table {
  &-container {
    width: 800px;
    margin: 50px auto;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 30px;

    @include sp {
      width: 350px;
      font-size: 14px;
      letter-spacing: 0;
    }
  }

  &-title {
    color: $blue;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 20px;

    @include sp {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }
}
