// Brand-Color
$blue: #037ef3;
$deep-blue: #0070bf;
$light-gray: #f3f4f7;
$gray: #caccd1;
$dark-gray: #52565e;
$yellow: #ffc845;
$orange: #f48924;
$red: #f85a40;
$green: #00c16e;
$mint: #0cb9c1;

// Other-Color
$white: white;

// fonts
$lato: "Lato";
$yu-gothic: "Yu Gothic Medium",yugothic,"Yu Gothic";
$fonts: $lato,$yu-gothic,sans-serif;

// z-index
$headerIndex : 9999;
$headerDrawerIndex : 99999;
$headerDrawerBackGroundIndex : 99998;
$backgroundIndex: -1;
$mainContent: 10;
$cookieBanner: 999999;